# Cloud-init template for Flatcar Container Linux initial setup
# This template is processed by Ansible using variables from vars.yml

#cloud-config

hostname: {{ node_hostname }}

users:
  - name: core
    ssh_authorized_keys:
      - {{ lookup('url', 'https://github.com/' + github_username + '.keys', split_lines=False) }}
    groups:
      - docker
      - wheel
    shell: /bin/bash

write_files:
  - path: /etc/hostname
    content: {{ node_hostname }}

  - path: /etc/hosts
    content: |
      127.0.0.1   localhost
      127.0.1.1   {{ node_hostname }}
      ::1         localhost ip6-localhost ip6-loopback
      ff02::1     ip6-allnodes
      ff02::2     ip6-allrouters

  - path: /etc/systemd/network/20-wired.network
    content: |
      [Match]
      Name=en*

      [Network]
      DHCP=no
      Address={{ node_ip }}/{{ vm_cidr_bits | default('24') }}
      Gateway={{ vm_gateway }}
      DNS={{ dns_servers | join(' ') }}

  - path: /etc/systemd/timesyncd.conf
    content: |
      [Time]
      NTP={{ ntp_servers | join(' ') }}
      FallbackNTP=pool.ntp.org

  - path: /etc/systemd/resolved.conf
    content: |
      [Resolve]
      DNS={{ dns_servers | join(' ') }}
      Domains={{ kubernetes_dns_domain }}

coreos:
  update:
    reboot_strategy: {{ flatcar_update_strategy | default('reboot') }}
    group: {{ flatcar_update_group | default('stable') }}

  units:
    - name: systemd-networkd.service
      command: restart

    - name: systemd-timesyncd.service
      command: restart

    - name: systemd-resolved.service
      command: restart

    - name: docker.service
      command: start
      enable: true

    - name: containerd.service
      command: start
      enable: true

    - name: update-engine.service
      command: stop
      enable: false

    - name: locksmithd.service
      command: stop
      enable: false