# Talos machine configuration for control plane nodes
# Rendered by Ansible with vars.yml plus secrets loaded from secrets.yaml
# (the output of `talosctl gen secrets`, loaded as `talos_secrets`).
# Per-node values are passed in as `node_hostname` and `node_ip`.

version: v1alpha1
debug: false
persist: true
machine:
  type: controlplane
  token: {{ talos_secrets.trustdinfo.token }}
  ca:
    crt: {{ talos_secrets.certs.os.crt }}
    key: {{ talos_secrets.certs.os.key }}
  certSANs:
    - {{ kubernetes_cluster_endpoint | regex_replace('^https?://') | regex_replace(':.*$') }}
{% for host in groups['talos_controlplane'] %}
    - {{ hostvars[host]['ansible_host'] }}
    - {{ host }}
{% endfor %}
  kubelet:
    image: ghcr.io/siderolabs/kubelet:{{ kubernetes_version }}
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
  time:
    disabled: false
    servers:
{% for server in ntp_servers | default(['pool.ntp.org']) %}
      - {{ server }}
{% endfor %}
  sysctls:
    net.core.somaxconn: 65535
    net.core.netdev_max_backlog: 4096
  install:
    disk: {{ kubernetes_install_disk | default('/dev/sda') }}
    image: ghcr.io/siderolabs/installer:{{ talos_installer_version }}
    bootloader: true
    wipe: false
  files: []
  env: {}
  network:
    hostname: {{ node_hostname }}
    nameservers:
{% for ns in dns_servers | default(['1.1.1.1', '8.8.8.8']) %}
      - {{ ns }}
{% endfor %}
{% if kubernetes_network_interface is defined %}
    interfaces:
      - interface: {{ kubernetes_network_interface }}
        addresses:
          - {{ node_ip }}/{{ vm_cidr_bits | default('24') }}
        routes:
          - network: 0.0.0.0/0
            gateway: {{ vm_gateway }}
{% endif %}
  nodeLabels:
    node.kubernetes.io/exclude-from-external-load-balancers: ""
  features:
    rbac: true
    stableHostname: true
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
cluster:
  id: {{ talos_secrets.cluster.id }}
  secret: {{ talos_secrets.cluster.secret }}
  controlPlane:
    endpoint: {{ kubernetes_cluster_endpoint }}
  clusterName: {{ kubernetes_cluster_name | default('homelab-k8s') }}
  network:
    dnsDomain: {{ kubernetes_dns_domain | default('cluster.local') }}
    podSubnets:
      - {{ kubernetes_pod_subnet | default('10.244.0.0/16') }}
    serviceSubnets:
      - {{ kubernetes_service_subnet | default('10.96.0.0/12') }}
    cni:
      name: {{ kubernetes_cni | default('flannel') }}
  token: {{ talos_secrets.secrets.bootstraptoken }}
  secretboxEncryptionSecret: {{ talos_secrets.secrets.secretboxencryptionsecret }}
  ca:
    crt: {{ talos_secrets.certs.k8s.crt }}
    key: {{ talos_secrets.certs.k8s.key }}
  aggregatorCA:
    crt: {{ talos_secrets.certs.k8saggregator.crt }}
    key: {{ talos_secrets.certs.k8saggregator.key }}
  serviceAccount:
    key: {{ talos_secrets.certs.k8sserviceaccount.key }}
  apiServer:
    image: registry.k8s.io/kube-apiserver:{{ kubernetes_version }}
    certSANs:
      - {{ kubernetes_cluster_endpoint | regex_replace('^https?://') | regex_replace(':.*$') }}
{% for host in groups['talos_controlplane'] %}
      - {{ hostvars[host]['ansible_host'] }}
{% endfor %}
    disablePodSecurityPolicy: true
    admissionControl: []
    auditPolicy: {}
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:{{ kubernetes_version }}
  proxy:
    disabled: false
    image: registry.k8s.io/kube-proxy:{{ kubernetes_version }}
  scheduler:
    image: registry.k8s.io/kube-scheduler:{{ kubernetes_version }}
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: false
      service:
        disabled: true
  etcd:
    ca:
      crt: {{ talos_secrets.certs.etcd.crt }}
      key: {{ talos_secrets.certs.etcd.key }}
    advertisedSubnets:
{% for host in groups['talos_controlplane'] %}
      - {{ hostvars[host]['ansible_host'] }}/32
{% endfor %}
