# Talos machine configuration for control plane nodes
# This template is processed by Ansible using variables from vars.yml

version: v1alpha1
debug: false
persist: true
machine:
  type: controlplane
  token: {{ talos_machine_token }}
  ca:
    crt: {{ talos_ca_crt | b64encode }}
    key: {{ talos_ca_key | b64encode }}
  certSANs:
    - {{ talos_cluster_endpoint | regex_replace('https?://') | regex_replace(':.*') }}
{% for host in groups['talos_controlplane'] %}
    - {{ hostvars[host]['ansible_default_ipv4']['address'] }}
    - {{ hostvars[host]['inventory_hostname'] }}
{% endfor %}
  kubelet:
    image: ghcr.io/siderolabs/kubelet:{{ kubernetes_version }}
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
  time:
    disabled: false
    servers:
{% for server in ntp_servers | default(['pool.ntp.org']) %}
      - {{ server }}
{% endfor %}
  sysctls:
    net.core.somaxconn: 65535
    net.core.netdev_max_backlog: 4096
  install:
    disk: {{ kubernetes_install_disk | default('/dev/sda') }}
    image: ghcr.io/siderolabs/installer:{{ talos_installer_version }}
    bootloader: true
    wipe: false
  files: []
  env: {}
  network:
    hostname: {{ inventory_hostname }}
    nameservers:
{% for ns in dns_servers | default(['1.1.1.1', '8.8.8.8']) %}
      - {{ ns }}
{% endfor %}
{% if talos_network_interface is defined %}
    interfaces:
      - interface: {{ talos_network_interface }}
        addresses:
          - {{ ansible_default_ipv4.address }}/{{ ansible_default_ipv4.prefix }}
        routes:
          - network: 0.0.0.0/0
            gateway: {{ ansible_default_ipv4.gateway }}
{% endif %}
  nodeLabels:
    node.kubernetes.io/exclude-from-external-load-balancers: ""
  features:
    rbac: true
    stableHostname: true
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
cluster:
  id: {{ talos_cluster_id }}
  secret: {{ talos_cluster_secret }}
  controlPlane:
    endpoint: {{ kubernetes_cluster_endpoint }}
  clusterName: {{ kubernetes_cluster_name | default('homelab-k8s') }}
  network:
    dnsDomain: {{ kubernetes_dns_domain | default('cluster.local') }}
    podSubnets:
      - {{ kubernetes_pod_subnet | default('10.244.0.0/16') }}
    serviceSubnets:
      - {{ kubernetes_service_subnet | default('10.96.0.0/12') }}
    cni:
      name: {{ kubernetes_cni | default('flannel') }}
  token: {{ talos_bootstrap_token }}
  secretboxEncryptionSecret: {{ talos_secretbox_key }}
  ca:
    crt: {{ talos_cluster_ca_crt | b64encode }}
    key: {{ talos_cluster_ca_key | b64encode }}
  aggregatorCA:
    crt: {{ talos_aggregator_ca_crt | b64encode }}
    key: {{ talos_aggregator_ca_key | b64encode }}
  serviceAccount:
    key: {{ talos_service_account_key | b64encode }}
  apiServer:
    image: registry.k8s.io/kube-apiserver:{{ kubernetes_version }}
    certSANs:
      - {{ talos_cluster_endpoint | regex_replace('https?://') | regex_replace(':.*') }}
{% for host in groups['talos_controlplane'] %}
      - {{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}
    disablePodSecurityPolicy: true
    admissionControl: []
    auditPolicy: {}
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:{{ kubernetes_version }}
  proxy:
    disabled: false
    image: registry.k8s.io/kube-proxy:{{ kubernetes_version }}
  scheduler:
    image: registry.k8s.io/kube-scheduler:{{ kubernetes_version }}
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: false
      service:
        disabled: true
  etcd:
    ca:
      crt: {{ talos_etcd_ca_crt | b64encode }}
      key: {{ talos_etcd_ca_key | b64encode }}
    advertisedSubnets:
{% for host in groups['talos_controlplane'] %}
      - {{ hostvars[host]['ansible_default_ipv4']['address'] }}/32
{% endfor %}