# Talos machine configuration for worker nodes
# Rendered by Ansible with vars.yml plus secrets loaded from secrets.yaml
# (the output of `talosctl gen secrets`, loaded as `talos_secrets`).
# Per-node values are passed in as `node_hostname` and `node_ip`.

version: v1alpha1
debug: false
persist: true
machine:
  type: worker
  token: {{ talos_secrets.trustdinfo.token }}
  ca:
    crt: {{ talos_secrets.certs.os.crt }}
    key: {{ talos_secrets.certs.os.key }}
  kubelet:
    image: ghcr.io/siderolabs/kubelet:{{ kubernetes_version }}
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    nodeIP:
      validSubnets:
        - {{ vm_subnet | default('192.168.100.0/24') }}
    clusterDNS:
      - {{ talos_cluster_dns | default('10.96.0.10') }}
  time:
    disabled: false
    servers:
{% for server in ntp_servers | default(['pool.ntp.org']) %}
      - {{ server }}
{% endfor %}
  sysctls:
    net.core.somaxconn: 65535
    net.core.netdev_max_backlog: 4096
  install:
    disk: {{ kubernetes_install_disk | default('/dev/sda') }}
    image: ghcr.io/siderolabs/installer:{{ talos_installer_version }}
    bootloader: true
    wipe: false
  files: []
  env: {}
  network:
    hostname: {{ node_hostname }}
    nameservers:
{% for ns in dns_servers | default(['1.1.1.1', '8.8.8.8']) %}
      - {{ ns }}
{% endfor %}
{% if kubernetes_network_interface is defined %}
    interfaces:
      - interface: {{ kubernetes_network_interface }}
        addresses:
          - {{ node_ip }}/{{ vm_cidr_bits | default('24') }}
        routes:
          - network: 0.0.0.0/0
            gateway: {{ vm_gateway }}
{% endif %}
  nodeLabels: {}
  features:
    rbac: true
    stableHostname: true
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
cluster:
  id: {{ talos_secrets.cluster.id }}
  secret: {{ talos_secrets.cluster.secret }}
  controlPlane:
    endpoint: {{ talos_cluster_endpoint }}
  clusterName: {{ talos_cluster_name | default('homelab-k8s') }}
  network:
    dnsDomain: {{ kubernetes_dns_domain | default('cluster.local') }}
    podSubnets:
      - {{ talos_pod_subnet | default('10.244.0.0/16') }}
    serviceSubnets:
      - {{ talos_service_subnet | default('10.96.0.0/12') }}
    cni:
{% if kubernetes_cni | default('cilium') == 'cilium' %}
      # See spec 0016, CNI-02/CNI-03.
      name: none
{% else %}
      name: {{ kubernetes_cni }}
{% endif %}
  proxy:
    disabled: {{ (kubernetes_cni | default('cilium') == 'cilium') | lower }}
  token: {{ talos_secrets.secrets.bootstraptoken }}
  ca:
    crt: {{ talos_secrets.certs.k8s.crt }}
    key: {{ talos_secrets.certs.k8s.key }}
